<div class="col-md-5">
    <form action="/dashboard" method="GET" >
        <div class="row">

        <div class="col-md-3"></div>
         <button class="col-md-6 btn btn-outline-dark btn-block btn-lg" >Feed Details </button> 
        <div class="col-md-3"></div>
        </div>
       
    </form><br>

    <form action="/allmanagers" method="GET" >
        <div class="row">

        <div class="col-md-3"></div>
         <button class="col-md-6 btn btn-outline-dark btn-block btn-lg" > All Managers</button> 
        <div class="col-md-3"></div>
        </div>
       
    </form><br>


    <form action="/allclients" method="GET" >
        <div class="row">

        <div class="col-md-3"></div>
         <button class="col-md-6 btn btn-outline-dark btn-block btn-lg" >  All clients </button> 
        <div class="col-md-3"></div>
        </div>
       
    </form><br>

    <form action="/allstrategies" method="GET" >
        <div class="row">

        <div class="col-md-3"></div>
         <button class="col-md-6 btn btn-outline-dark btn-block btn-lg" > Strategies  </button> 
        <div class="col-md-3"></div>
        </div>
       
    </form><br>

    <form action="/pendingtrades" method="GET" >
        <div class="row">

        <div class="col-md-3"></div>
         <button class="col-md-6 btn btn-outline-dark btn-block btn-lg" >Pending Trades   </button> 
        <div class="col-md-3"></div>
        </div>
       
    </form><br>


</div>